body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.product-overview {
  max-width: 200px;
}

.text-decoration-none {
  text-decoration: none;
}

.quantity-selector {
  width: 120px;
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 9999px;
}

.decrease-quantity-button:hover,
.increase-quantity-button:hover {
  cursor: pointer;
}

.cart-detail {
  width: 60%;
}

.cart-preview {
  width: 30%;
}

.cursor-pointer {
  cursor: pointer;
}